
<h1>My name is <%= @name %> and I am <%= @age %> years old


<div style='border: 3px dashed red'>
  <img src='http://bit.ly/1eze8aE'>
</div>


<%# <form action="/named-cat">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <label for="age">Age:</label>
    <input type="text" name="age">
    <input type="submit" name="Submit">
</form> %>
  

